.container {
    border: 2px solid black;
    height: 250px;
}
[class^='col-xs'] {
    height: 250px;
    background-color: pink;
    border: 1px solid black;
    color: black;
    text-align: center;
    line-height: 250px;
    vertical-align: middle;
}
.nested [class^='col-xs'] {
    height: 250px;
    background-color: #F07F80;
    border: 1px solid black;
    color: black;
    text-align: center;
    line-height: 250px;
    vertical-align: middle;
}
.row .col-xs-2.order1 {
    order: -1;
}
.col-xs-1.hidden {
    display: none;
}
.row.nested.left {
    display: flex;
    flex-direction: row-reverse;
}
.row.nested.left .col-xs-2.hidden {
    display: none;
}

@media screen and (min-width: 576px){
    .row .col-sm-1 {
        height: 250px;
        background-color: red;
        border: 1px solid black;
        color: black;
        text-align: center;
        line-height: 250px;
        vertical-align: middle;
    }
    .row .col-xs-2.order1 {
        display: none;
    }
    .col-xs-1.hidden {
        display: block;
    }
    .row.nested.left {
        display: flex;
        flex-direction: row;
    }
    .row.nested.left .col-xs-2.hidden {
        display: block;
    }

}

