.container {
    border: 2px solid black;
    height: 250px;
}
[class^='col'] {
    height: 250px;
    background-color: pink;
    border: 1px solid black;
    color: black;
    text-align: center;
    line-height: 250px;
    vertical-align: middle;
}
.nested [class^='col'] {
    height: 250px;
    background-color: #F07F80;
    border: 1px solid black;
    color: black;
    text-align: center;
    line-height: 250px;
    vertical-align: middle;
}

@media screen and (min-width: 576px){
    .row .col-sm-1 {
        height: 250px;
        background-color: red;
        border: 1px solid black;
        color: black;
        text-align: center;
        line-height: 250px;
        vertical-align: middle;
    }

}

